/* Slideshow */

#gallerywrapper {overflow: hidden; position: relative;}

#scrollwrapper { overflow: auto; padding: 0 0 0 3em;}
#scrollwrapper .slide {padding-right: 3em; float: left; overflow: hidden;}
#scrollwrapper .gallerycontent {overflow: hidden; clear: both; text-align: left; margin-left: 0;}

#slidecontrols { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
#slidecontrols a { cursor: pointer; }
#slidecontrols a.inactive {color: #ccc;}

.slide {position: absolute; top: 0; overflow: hidden; width: 100%; }
.slideinner {margin: auto; position: relative; overflow: hidden;}

.longdescription {overflow: hidden;}

.imagewrap {position: relative;}
.image {margin: auto;}
.image p {margin: 0; text-align: center;}
.description {margin: auto;}

.dragmask {position: absolute; top: 0; width: 100%;}

.cursornext { display: block; width: 33%; position: absolute; top: 0; right: 0; cursor: url("images/cursor-next.cur"), pointer;}
.cursorprev { display: block; width: 33%; position: absolute; top: 0; left: 0; cursor: url("images/cursor-prev.cur"), pointer;}
